<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CoreSpotlightActions</key>
	<array>
		<dict>
			<key>CoreSpotlightActionIdentifier</key>
			<string>copyAction</string>
			<key>CoreSpotlightActionSymbolImage</key>
			<string>doc.on.doc</string>
			<key>CoreSpotlightActionTitle</key>
			<string>コピー</string>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Clip Hold Archive</string>
			<key>UTTypeIdentifier</key>
			<string>design.taikun.Clip-Hold.exports</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cliphold</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
