<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CoreSpotlightActions</key>
	<array>
		<dict>
			<key>CoreSpotlightActionIdentifier</key>
			<string>copyAction</string>
			<key>CoreSpotlightActionSymbolImage</key>
			<string>doc.on.doc</string>
			<key>CoreSpotlightActionTitle</key>
			<string>コピー</string>
		</dict>
	</array>
</dict>
</plist>
